
*.lock
*.ide
*.ide-wal
*.ide-shm
.vs/BetraySoundboard/v15/.suo
*.cache
*.Cache
*.cache
BetraySoundboard/bin/Debug/app.publish/BetraySoundboard.exe
BetraySoundboard/bin/Debug/BetraySoundboard.application
BetraySoundboard/bin/Debug/BetraySoundboard.exe
BetraySoundboard/bin/Debug/BetraySoundboard.exe.config
BetraySoundboard/bin/Debug/BetraySoundboard.exe.manifest
BetraySoundboard/bin/Debug/BetraySoundboard.pdb
BetraySoundboard/bin/Debug/BetraySoundboard.vshost.application
BetraySoundboard/bin/Debug/BetraySoundboard.vshost.exe
BetraySoundboard/bin/Debug/BetraySoundboard.vshost.exe.config
BetraySoundboard/bin/Debug/BetraySoundboard.vshost.exe.manifest
BetraySoundboard/bin/Debug/debug.log.docx
BetraySoundboard/bin/Release/app.publish/BetraySoundboard.exe
BetraySoundboard/bin/Release/BetraySoundboard.application
BetraySoundboard/bin/Release/BetraySoundboard.exe
BetraySoundboard/bin/Release/BetraySoundboard.exe.config
BetraySoundboard/bin/Release/BetraySoundboard.exe.manifest
BetraySoundboard/bin/Release/BetraySoundboard.pdb
BetraySoundboard/bin/Release/BetraySoundboard.vshost.application
BetraySoundboard/bin/Release/BetraySoundboard.vshost.exe
BetraySoundboard/bin/Release/BetraySoundboard.vshost.exe.config
BetraySoundboard/bin/Release/BetraySoundboard.vshost.exe.manifest
BetraySoundboard/obj/Debug/BetraySoundboard.application
BetraySoundboard/obj/Debug/BetraySoundboard.csproj.FileListAbsolute.txt
BetraySoundboard/obj/Debug/BetraySoundboard.csproj.FileListAbsolute.txt.docx
BetraySoundboard/obj/Debug/BetraySoundboard.csproj.GenerateResource.Cache
BetraySoundboard/obj/Debug/BetraySoundboard.exe
BetraySoundboard/obj/Debug/BetraySoundboard.exe.manifest
BetraySoundboard/obj/Debug/BetraySoundboard.Help.resources
BetraySoundboard/obj/Debug/BetraySoundboard.pdb
BetraySoundboard/obj/Debug/BetraySoundboard.Properties.Resources.resources
BetraySoundboard/obj/Debug/BetraySoundboard.Soundboard.resources
BetraySoundboard/obj/Debug/DesignTimeResolveAssemblyReferences.cache
BetraySoundboard/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BetraySoundboard/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BetraySoundboard/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BetraySoundboard/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
BetraySoundboard/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
BetraySoundboard/obj/Release/BetraySoundboard.application
BetraySoundboard/obj/Release/BetraySoundboard.csproj.FileListAbsolute.txt.docx
BetraySoundboard/obj/Release/BetraySoundboard.csproj.GenerateResource.Cache
BetraySoundboard/obj/Release/BetraySoundboard.csprojResolveAssemblyReference.cache
BetraySoundboard/obj/Release/BetraySoundboard.exe
BetraySoundboard/obj/Release/BetraySoundboard.exe.manifest
BetraySoundboard/obj/Release/BetraySoundboard.Help.resources
BetraySoundboard/obj/Release/BetraySoundboard.pdb
BetraySoundboard/obj/Release/BetraySoundboard.Properties.Resources.resources
BetraySoundboard/obj/Release/BetraySoundboard.Soundboard.resources
BetraySoundboard/obj/Release/DesignTimeResolveAssemblyReferences.cache
BetraySoundboard/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
BetraySoundboard/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BetraySoundboard/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BetraySoundboard/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
BetraySoundboard/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
